<div class="grid place-items-start dropdown-container w-full h-auto">
  <details class="hamburger-menu">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="w-[30%] icon-container">
        {% render 'icon-hamburger-2' %}
        {% render 'icon-close-2' %}
      </span>
    </summary>
    {% for link in section.settings.menu.links %}
      <details class="mt-[1rem] {% if forloop.index == 3 %}mb-[1rem]{% endif %}">
        <summary>{{ link.title }}</summary>
        {% for childlink in link.links %}
          <details class="childlink-container">
            <summary>{{ childlink.title }}</summary>
            <ul class="grandchildlink-container">
              {% for grandchildlink in childlink.links %}
                <a href='{{ grandchildlink.url }}'><li>{{ grandchildlink.title }}</li></a>
              {% endfor %}
            </ul>
          </details>
        {% endfor %}
      </details>
    {% endfor %}
  </details>
</div>

{% stylesheet %}
  ul {
    list-style: none;
  }
  
  .dropdown-container,
  .childlink-container,
  .grandchildlink-container {
    margin-left: 1rem;
  }
  .hamburger-menu[open] .icon-hamburger-2 {
    display: none;
  }
  .hamburger-menu .icon-hamburger-2 {
    display: block;
  }
  .hamburger-menu[open] .icon-close-2 {
    display: block;
  }
  .hamburger-menu .icon-close-2 {
    display: none;
  }
  @media screen and (min-width: 750px) {
    .icon-container{
      display: none;
    }
    .hamburger-menu {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
    }
  }
{% endstylesheet %}
{% javascript %}
  const dropdownMenu = document.querySelector('.dropdown-container');
  const hamburgerMenu = document.getElementsByClassName('hamburger-menu');
  const hamburgerMenuQuery = document.querySelector('.hamburger-menu');
  const iconHamburgerBtn = document.getElementsByClassName('icon-hamburger-2');
  const iconCloseBtn = document.getElementsByClassName('icon-close-2');

  const resizeObserver = new ResizeObserver((entries) => {
    for (const entry of entries) {
      if (entry.contentRect.width >= 750){
        console.log("hello")
        hamburgerMenuQuery.setAttribute('open', true);
      }
    }
  })
  resizeObserver.observe(dropdownMenu)
{% endjavascript %}
{% schema %}
{
  "name": "nav-bar",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
